.container{
    height: 13vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-color: #12252c;
}

.nav_container{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 2%;
    justify-content: space-between;
}

.nav_container div{
    font-weight: 600;
    font-size: 2.5vh;
    letter-spacing: 0.4vh;
    cursor: pointer;
    padding: 1vh;
    border-radius: 3vh;
    color: white;
    text-transform: uppercase;
    margin: 2vh;
    position: relative;
    white-space: nowrap;
}

.nav_container div::before{
    content: '';
    position: absolute;
    height: 0.25vh;
    width: 100%;
    background-color: #cb3d19;
    bottom: 0;
    left: 0;
    transition: 0.1s all ease-in-out;
}

.nav_container div::after{
    content: attr(data-text);
    position: relative;
    bottom: 0;
    left: 0;
}

.nav_container div:hover::before{
    content: '';
    height: 100%;
}
